<h1>Videos#index</h1>
<p>Find me in app/views/videos/index.html.erb</p>

<% @videos.each do |video|  %>
  <h3>Title: <%= video.title  %></h3>
  <%= image_tag video.attachment.url(:thumb) %>
  <p>Length: <%= video.length  %></p>
  <p>Format: <%= video.format  %></p>
<% end %>
