// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress-animated {
  -webkit-transition: value 5.50s ease !important;
  -moz-transition: value 5.50s ease !important;
  -o-transition: value 5.50s ease !important;
  transition: value 5.50s ease !important;
}