<nav class="navbar navbar-dark bg-success">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="/videos">VidUp</a>
    <a class="nav-item nav-link" href="/videos/new">Add New</a>
  </div>
</nav>
